<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:sessions_restaurant, url: restaurantsignin_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <br/><br/>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New Restaurant? <%= link_to "Sign up now!", restaurantsignup_path %></p>
  </div>
</div>
