<%= form_for(@item) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :item_name %><br />
    <%= f.text_field :item_name %>
  </div>
  
  <div class="field">
    <div><%= f.hidden_field :restaurant_id %></div>
    <%= f.label :item_price %><br />
    <%= f.number_field :item_price %>
  </div>

  <%= f.submit "Create", class: "btn btn-large btn-primary" %>

<% end %>
