<%if @items.count != 0 %>

  <h2>Listing items</h2>

  <table class="table">
  <tr>
    <th>Item name</th>
    <th>Item price</th>
    <% if restaurantsigned_in? %>
      <th></th>
      <th></th>
    <%end%>
  </tr>

  <% @items.each do |item| %>
  <tr>
    <td><%= item.item_name %></td>
    <td><%= item.item_price %></td>
    <% if restaurantsigned_in? %>
      <td><%= link_to 'Edit', edit_item_path(item),class: "btn-primary" %></td>
      <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn-primary"%></td>
    <%end%>
  </tr>
  <% end %>
  </table>

<%else%>

  <br />
  <h2> Sorry !! You don't have any items. Try adding some. </h2>

<%end%>

<%= link_to 'Add Item', new_item_path %>
