<p id="notice"><%= notice %></p>

<p>
  <b>Item name:</b>
  <%= @item.item_name %>
</p>

<p>
  <b>Restaurant:</b>
  <%= @item.restaurant_id %>
</p>

<p>
  <b>Item price:</b>
  <%= @item.item_price %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
