<h1>Listing reviews</h1>

<% if customersigned_in? %>
  <table class="table">
    <tr>
      <th>Restaurant</th>
      <th>Your feedback</th>
      <th></th>
    </tr>

  <% @reviews_customer.each do |review| %>
    <tr>
      <td><%= review.restaurant_id %></td>
      <td><%= review.user_feedback %></td>
      <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

<% elsif restaurantsigned_in? %>
  <table class="table">
  <tr>
    <th>User</th>
    <th>User feedback</th>
  </tr>

  <% @reviews_restaurant.each do |review| %>
    <tr>
      <td><%= review.user_id %></td>
      <td><%= review.user_feedback %></td>
    </tr>
  <% end %>
  </table>
<%end%>



<br />

