<% if !@reviews_customer.nil? or !@reviews_restaurant.nil? %>
<div style="width:100%;">
  <h2>Listing reviews</h2>
  <br/><br/>
  <% if customersigned_in? %>
    <table class="table">
      <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 70%;">
       <col span="1" style="width: 15%;">
    </colgroup>
      <tr>
        <th >Restaurant</th>
        <th >Your feedback</th>
        <th ></th>
      </tr>

    <% @reviews_customer.each do |review| %>
      <% @this_restaurant = Restaurant.find_by_id(review.restaurant_id) %>
      <tr>
        <td ><%= link_to @this_restaurant.name, @this_restaurant, class: "mylinks" %></td>
        <td ><%= review.user_feedback %></td>
        <td ><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' },class: "btn-primary" %></td>
      </tr>
    <% end %>
    </table>

  <% elsif restaurantsigned_in? %>
    <table class="table">
    <tr>
      <th >User</th>
      <th >User feedback</th>
    </tr>

    <% @reviews_restaurant.each do |review| %>
      <% @this_customer = Customer.find_by_id(review.user_id) %>
      <tr>
        <td ><%= link_to @this_customer.name, @this_customer , class: "mylinks_reviews"%></td>
        <td ><%= review.user_feedback %></td>
      </tr>
    <% end %>
    </table>
  <%end%>

<%else%>
 <h2> Sorry !! You don't have any reviews </h2>

</div>
 <%end%>



<br />

